.title-name {
  text-align: right;
}

.intro {
  background-color: black;
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}

.intro h1 {
  color: white;
}

.intro p {
  color: rgba(255,255,255, 0.85);
  padding-top: 20px;
}

.skills h1 {
  padding-top: 50px;
  text-align: center;
}

.table-title {
  text-align: center;
}

.contact {
  background-color: black;
  color: white;
}
