.title-name {
  text-align: right;
}

#my-name{
  font-size: 72px;
  padding-bottom: 50px;
  font-weight: 400;
}

.intro {
  background-color: black;
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  min-height: 100vh;
  margin-top: auto;
  margin-bottom: auto;

}

.intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro h2 {
  font-weight: 100;
}

.intro h1,h2 {
  color: white;
}

.intro p {
  color: rgba(255,255,255, 0.85);
  padding-top: 20px;
  text-align: right;
}

.down{
  /*padding: 200px 0;*/
  text-align: center;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.down > a{
  padding: 20px;
  font-size: 32px;
  text-decoration: none;
  color: white;
}

#skills-section .down a{
  color: black;
}

/*#skills-section > a {
  position: relative;
  top: 5vh;
}*/

#skills-section {
  min-height: 100vh;
}

.skills h1 {
  padding-top: 50px;
  text-align: center;
}

.table-title {
  color: black;
  text-align: center;
}

.contact {
  background-color: black;
  color: white;
  height: 50vh;
}

.contact .container {
  height: 100%;
}

.contact .row {
  padding-top: 50px;
}

.links {
  list-style: none;
}

.links a {
  margin-left: 5px;
  color: white;
  text-decoration: none;
}
